.App {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}
/* page product */
.img_container {
  width: 40%;
}
.img_container img {
  width: 60%;
}
.form_order {
  width: 35%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.form_order .button_container {
  display: flex;
  justify-content: flex-end;
}
.form_order button {
  width: 20%;
  font-size: large;
  background-color: #314d3e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}
label {
  margin-top: 20px;
}
.form_order input,
.form_order select,
.form_order textarea {
  margin-right: auto;
  margin-left: auto;
  border: solid 1px #dbdbdb;
  flex: 1 0 auto;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  color: #606770;
  background-color: #fafafa;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.grid-3 {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
  margin-top: 20px;
}

/* Panel admin */
.panel_container {
  height: 90vh;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
.panel_container .card {
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  height: 10vh;
  border-radius: 10px;
  background: linear-gradient(
    70deg,
    #5b664f 0%,
    #5b664f 34%,
    #7a4b3f 35%,
    #7a4b3f 63%,
    #2e4438 62%,
    #2e4438 80%,
    #7a643c 80%
  );
}
.panel_container .card div {
  margin-left: 10px;
}
.grid3_admin {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.header_panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_panel div {
  display: flex;
}
.header_panel p {
  color: #606770;
}
.header_panel div .item {
  margin-left: 20px;
}
.header_panel div input {
  border: solid 1px #dbdbdb;
  flex: 1 0 auto;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  color: #606770;
  background-color: #fafafa;
  border-radius: 3px;
}
.header_panel div button {
  border: solid 1px #dbdbdb;
  background: none;
  flex: 1 0 auto;
  margin: 0;
  text-overflow: ellipsis;
  color: #606770;
  border-radius: 3px;
}
table {
  margin-top: 30px;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 2px;
  border-radius: 3px;
  padding: 10px;
  font-size: 12px;
}
table thead tr {
  background: #f7f7f7;
  height: 40px;
  margin: 10px;
  padding-left: 10px;
}
table tbody tr {
  background: #fcfcfc;
  height: 50px;
  padding-left: 10px;
  border-bottom: solid 1px #f2f2f2;
}
table thead tr th,
table tbody tr td {
  padding-left: 10px;
}

.pagination {
  display: flex;
  background: #f7f7f7;
  height: 50px;
}
.pagination button {
  background: none;
  font-size: small;
  border: none;
  margin-right: 20px;
}
.pagination button:hover {
  font-weight: bold;
  cursor: pointer;
}
#page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#page-numbers li {
  list-style: none;
  margin-right: 1rem;
  cursor: pointer;
  font-size: xx-small;
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 20px;
  justify-content: center;
  width: 20px;
  background: #E6E6E6;
  transition: background-color 0.3s ease;
}

#page-numbers li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#page-numbers li.active {
  background-color: #314d3e;
  color: #fff;
}
.Unverified{
  color: #999999;
}
.status{
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  width: max-content;
  gap: 10px;
}
.Verified{
  background-color: #DEEDE5;
  color: #427A5B;
}
.Pending{
  background-color: #FDF8CE;
  color: #93846;
}